.seo__blog-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.seo__blog-page-texts {
    width: 1200px;
}

.seo__blog-page-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  .seo__blog-page-h2-link {
    font-size: 24px;
    text-decoration: underline;
    color: var(--brand-gold);
  }

  .seo__blog-page-link {
    margin-top: 21px;
    display: block;
    text-decoration: underline;
    color: var(--brand-gold);
  }

  @media (max-width: 1199px) {
    .seo__blog-page {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .seo__blog-page-texts {
        width: 320px;
    }

    .seo__blog-page-h2-link {
        font-size: 21px;
        text-decoration: underline;
        color: var(--brand-gold);
      }

      ul {
        padding: 0px;
        padding-left: 20px;
      }
  }