.all__services-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.all__services-page-wrapper {
    margin-top: 120px;
    padding: 80px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #00030F;
}

.all__services-page-wrapper.light {
    background: #EBF3FF;
}

.all__services-page-title {
    color: white;
}

.all__services-page-title.light {
    color: black;
}

.all__services-page-services-wrapper {
    margin-top: 60px;
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

@media (max-width: 1200px) {
    .all__services-page-wrapper {
        margin-top: 60px;
        padding: 60px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #00030F;
    }

    .all__services-page-services-wrapper {
        margin-top: 40px;
        width: 320px;
        display: flex;
        flex-direction: column;
        flex-wrap: unset;
        gap: 40px;
    }
}