.prices__page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prices__page-title {
    margin-top: 120px;
    width: 100%;
    text-align: center;
}

.prices__page-title.light {
    color: black;
}

@media (max-width: 1200px) {
    
    .prices__page-title {
        width: 320px;
        margin-top: 60px;
        text-align: left;
    }
}