RewriteEngine On
RewriteBase /

# Если файл или папка существуют - используем их
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule . - [L]

# Все остальные запросы перенаправляем на index.html
RewriteRule ^(.*)$ index.html [L]