.service__page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.page__seo-texts {
    width: 1200px;
}

.doctor__page-form-wrapper {
    width: 1200px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #00030f;
    margin-top: 100px;
    padding: 60px 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .doctor__page-form-wrapper.light {
    border: 1px solid rgba(0, 10, 53, 0.15);
    background: #ebf3ff;
  }
  
  .doctor__page-form-title {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .doctor__page-form-title.light {
    color: black;
  }
  
  .doctor__page-form-text {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
  }
  
  .doctor__page-form-text.light {
    color: rgba(0, 0, 0, 0.9);
  }
  
  .doctor__page-form-form {
    margin-top: 40px;
    display: flex;
    gap: 50px;
  }
  
  .doctor__page-input {
    width: 240px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    outline: none;
    padding-left: 19px;
    background-color: inherit;
    color: white;
  }
  
  .doctor__page-input.light {
    border: 1px solid rgba(0, 0, 0, 0.4);
    color: black;
  }

  .doctor__page-input.light.error {
    border: 1px solid red;
  }
  .doctor__page-input.error {
    border: 1px solid red;
  }
  
  .doctor__page-button {
    width: 240px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: #d7b56d;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px; /* 131.25% */
  }
  
  .doctor__page-button.light {
    background: #000a35;
    border: none;
  } 

  @media (max-width: 1200px) {

  .doctor__page-form-wrapper {
    width: 320px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #00030f;
    margin-top: 60px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .doctor__page-form-title {
    color: #fff;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .doctor__page-form-text {
    width: 280px;
    margin-top: 18px;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
  }

  .doctor__page-form-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .doctor__page-input {
    width: 280px;
    height: 50px;
    flex-shrink: 0;
  }

  .doctor__page-button {
    width: 280px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 6px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 135.714% */
  }
}