.popularservice__page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popularservice__title {
  margin-top: 120px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  width: 1200px;
}

.popularservice__title.light {
  color: black;
}

.popularservice__content {
  margin-top: 80px;
  width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding-bottom: 40px;
}

.popularservice__images {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.popularservice__image {
  width: 360px;
  height: 360px;
  border-radius: 20px;
  object-fit: cover;
}

.popularservice__text {
  width: 1200px;
  color: rgba(255, 255, 255, 0.85);
  font-size: 18px;
  line-height: 1.6;
}

.popularservice__text.light {
  color: black;
}

@media (max-width: 1199px) {
  .popularservice__title {
    width: 320px;
    margin-top: 60px;
    font-family: Arial;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
  }

  .popularservice__content {
    margin-top: 60px;
    width: 320px;
    gap: 40px;
  }

  .popularservice__images {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .popularservice__image {
    width: 320px;
    height: 320px;
    border-radius: 20px;
  }

  .popularservice__text {
    width: 320px;
    font-size: 16px;
  }
}



