.footer {
    margin-top: 120px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    background: #00030F;
}

.footer.light {
    background: #EBF3FF;
}

.footer__wrapper {
    width: 1200px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px; /* трохи безпечніше, щоб не "роз’їжджалось" */
    box-sizing: border-box;
}

.footer__logo {
    display: flex;
    align-items: center;
    gap: 18px; /* було 40 */
}

.footer__logo-image {
    width: 60px;
    height: 60px;
}

.footer__logo-text {
    font-size: 18px;
    color: var(--brand-gold);
}

.footer__logo-text.light {
    color: var(--brand-blue);
}

.footer__tel {
    color: white;
    font-size: 18px;
    white-space: nowrap;
}

.footer__tel.light {
    color: black;
}

.footer__contacts {
    display: flex;
    align-items: center;
    gap: 24px; /* було 60 */
}

.footer__links {
    display: flex;
    gap: 18px; /* було 30 */
}

.footer__link-icon {
    width: 36px; /* було 40 */
    height: 36px; /* було 40 */
    transition: .3s;
}

.footer__link-icon:hover {
    transition: .3s;
    transform: scale(1.15);
}

.logo-num-mobile {
    display: none;
}

.footer__links-mobile {
    display: none;
}

.footer__doc {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.footer__doc.light {
    color: black;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.footer__docs-mobile {
    display: none;
}

@media (max-width: 1199px) {
    .footer {
        margin-top: 60px;
        width: 100%;
        height: 289px;
        display: flex;
        justify-content: center;
        background: #00030F;
    }

    .footer__wrapper {
        width: 100%;
        height: 167px;
        display: flex;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        padding: 0; /* як було */
    }

    .footer__logo {
        display: none;
    }

    .footer__logo-image {
        width: 50px;
        height: 50px;
    }

    .logo-num-mobile {
        margin-top: 20px;
        width: 100%;
        padding: 0px 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__contacts {
        display: none;
    }

    .footer__links-mobile {
        padding: 0px 20px;
        margin-top: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .footer__link, .footer__link-icon {
        width: 57px;
        height: 57px;
    }

    .footer__docs-mobile {
        margin-top: 30px;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 40px;
    }
}
